<div class="row"> 
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Merchants</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Fullname</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Created On</th>
                  <th>Last Modified</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody> 
                {% for portaluser in portalusers %}
                <tr>
                  <td>{{portaluser.fullname}}</td>
                  <td>{{portaluser.username}}</td>
                  <td>{{portaluser.email}}</td>
                  <td>{{portaluser.active}}</td>
                  <td>{{portaluser.created_at}}</td>
                  <td>{{portaluser.updated_at}}</td>
                  <td></td>
                  <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default">Action</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                      <li><a href="#">Deactivate</a></li>
                    </ul>
                  </div>
                  </td>
                </tr>
                {% endfor %}
                
                </tbody>
                
              </table>
            </div>
            <!-- /.box-body -->
          </div>
         
        </div>
        <!-- /.col -->
      </div>